:root {
  --custom-bg-color: yellow;
}


.my-style {
  background-color: var(--custom-bg-color); /* using Custom Property */
  color: blue;
  font-weight: bold;
}


:fullscreen a { /* expanding vender prefixes by postcss-cssnext */
  display: flex
}
