:root {
  --custome-bg-color: yellow;
}


.my-style {
  background-color: var(--custome-bg-color); /* using Custome Property */
  color: blue;
  font-weight: bold;
}


:fullscreen a { /* expanding vender prefixes by postcss-cssnext */
  display: flex
}
