:root {
  --custome-bg-color: orange;
}


.my-style {
  composes: my-style from './app.css'; /* extending .my-style from app.css */
  background-color: var(--custome-bg-color); /* using Custome Property */
}
