@value appModule: "./app.css"; /* importing .app/css */

:root {
  --custom-bg-color: orange;
}


.my-style {
  composes: my-style from appModule; /* extending .my-style from app.css */
  background-color: var(--custom-bg-color); /* using Custom Property */
}
